flows.json
[{"id":"24e82206.28248e","type":"tab","label":"Global Topic","disabled":false,"info":""},{"id":"24d22a27.827156","type":"tab","label":"Relay Control 1st meathod","disabled":false,"info":""},{"id":"3c134ece.bf6fd2","type":"tab","label":"Functionality","disabled":false,"info":""},{"id":"856b9fc4.66f0d","type":"tab","label":"Relay Control 2nd Meathod","disabled":false,"info":""},{"id":"849559d.0c2f9a8","type":"mqtt-broker","z":"","name":"io.adafruit.com","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d00cf871.49f128","type":"mqtt-broker","z":"","name":"IoT Connect","broker":"iot-connect.in","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"98b8b085.af952","type":"mqtt-broker","z":"","name":"localhost","broker":"192.168.1.23","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"53990835.68a4d8","type":"mqtt in","z":"24e82206.28248e","d":true,"name":"","topic":"ESP_ATTENDANCE","qos":"2","datatype":"auto","broker":"d00cf871.49f128","x":330,"y":300,"wires":[["707f8452.48202c"]]},{"id":"a9e3ff78.780b4","type":"debug","z":"24e82206.28248e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"707f8452.48202c","type":"json","z":"24e82206.28248e","name":"","property":"payload","action":"","pretty":false,"x":570,"y":300,"wires":[["a9e3ff78.780b4"]]},{"id":"9d25692b.5bab18","type":"mqtt out","z":"24d22a27.827156","name":"","topic":"8867049/shift_out_reg/pin_0","qos":"2","retain":"true","broker":"d00cf871.49f128","x":480,"y":160,"wires":[]},{"id":"f3e05a54.3f1458","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":true}","payloadType":"json","x":230,"y":142,"wires":[["9d25692b.5bab18"]]},{"id":"c053955d.6ccf58","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":false}","payloadType":"json","x":229,"y":188,"wires":[["9d25692b.5bab18"]]},{"id":"b211a62e.1cc2b8","type":"mqtt out","z":"3c134ece.bf6fd2","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":660,"y":460,"wires":[]},{"id":"afaec421.322f48","type":"inject","z":"3c134ece.bf6fd2","name":"{\"action\":\"GETFREQ\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"GETFREQ\"}","payloadType":"json","x":350,"y":200,"wires":[["b211a62e.1cc2b8"]]},{"id":"92530f20.4674b","type":"inject","z":"3c134ece.bf6fd2","name":"{\"action\":\"FREQ\",\"f\":5000}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"FREQ\",\"f\":5000}","payloadType":"json","x":350,"y":280,"wires":[["b211a62e.1cc2b8"]]},{"id":"dce7da3c.973038","type":"mqtt out","z":"24d22a27.827156","name":"","topic":"8867049/shift_out_reg/pin_1","qos":"2","retain":"true","broker":"d00cf871.49f128","x":480,"y":280,"wires":[]},{"id":"7724e6a0.ff9f48","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":true}","payloadType":"json","x":230,"y":262,"wires":[["dce7da3c.973038"]]},{"id":"76a703bb.522eac","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":false}","payloadType":"json","x":229,"y":308,"wires":[["dce7da3c.973038"]]},{"id":"6665fcd0.65cc14","type":"mqtt out","z":"24d22a27.827156","name":"","topic":"8867049/shift_out_reg/pin_2","qos":"2","retain":"true","broker":"d00cf871.49f128","x":480,"y":400,"wires":[]},{"id":"fc1b83e.f6dca8","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":true}","payloadType":"json","x":230,"y":382,"wires":[["6665fcd0.65cc14"]]},{"id":"e77bd91d.d7d698","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":false}","payloadType":"json","x":229,"y":428,"wires":[["6665fcd0.65cc14"]]},{"id":"304a99b2.b0cf46","type":"mqtt out","z":"24d22a27.827156","name":"","topic":"8867049/shift_out_reg/pin_3","qos":"2","retain":"true","broker":"d00cf871.49f128","x":480,"y":520,"wires":[]},{"id":"2ef513f4.597c7c","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":true}","payloadType":"json","x":230,"y":502,"wires":[["304a99b2.b0cf46"]]},{"id":"76b656d0.9cf128","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":false}","payloadType":"json","x":229,"y":548,"wires":[["304a99b2.b0cf46"]]},{"id":"cc708f28.9b5bd","type":"mqtt out","z":"24d22a27.827156","name":"","topic":"8867049/shift_out_reg/pin_4","qos":"2","retain":"true","broker":"d00cf871.49f128","x":1040,"y":160,"wires":[]},{"id":"e1e64ab6.5fb5e8","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":true}","payloadType":"json","x":790,"y":142,"wires":[["cc708f28.9b5bd"]]},{"id":"82602960.6b9438","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":false}","payloadType":"json","x":789,"y":188,"wires":[["cc708f28.9b5bd"]]},{"id":"69cac45.f650e3c","type":"mqtt out","z":"24d22a27.827156","name":"","topic":"8867049/shift_out_reg/pin_5","qos":"2","retain":"true","broker":"d00cf871.49f128","x":1040,"y":280,"wires":[]},{"id":"2b173d16.e72a62","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":true}","payloadType":"json","x":790,"y":262,"wires":[["69cac45.f650e3c"]]},{"id":"80c6915b.1966f","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":false}","payloadType":"json","x":789,"y":308,"wires":[["69cac45.f650e3c"]]},{"id":"fc65fcaf.6ba45","type":"mqtt out","z":"24d22a27.827156","name":"","topic":"8867049/shift_out_reg/pin_6","qos":"2","retain":"true","broker":"d00cf871.49f128","x":1040,"y":400,"wires":[]},{"id":"e589d932.6f8b78","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":true}","payloadType":"json","x":790,"y":382,"wires":[["fc65fcaf.6ba45"]]},{"id":"ab89c965.203698","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":false}","payloadType":"json","x":789,"y":428,"wires":[["fc65fcaf.6ba45"]]},{"id":"22005aa7.3844c6","type":"mqtt out","z":"24d22a27.827156","name":"","topic":"8867049/shift_out_reg/pin_7","qos":"2","retain":"true","broker":"d00cf871.49f128","x":1040,"y":520,"wires":[]},{"id":"caaa870.8644d78","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":true}","payloadType":"json","x":790,"y":502,"wires":[["22005aa7.3844c6"]]},{"id":"3d8cc227.0ec2ae","type":"inject","z":"24d22a27.827156","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":false}","payloadType":"json","x":789,"y":548,"wires":[["22005aa7.3844c6"]]},{"id":"a968a554.7cca68","type":"mqtt in","z":"3c134ece.bf6fd2","name":"","topic":"8867049/RESPONSE","qos":"2","datatype":"auto","broker":"d00cf871.49f128","x":340,"y":120,"wires":[["fa285b05.c79c68"]]},{"id":"d1a02063.37ac2","type":"debug","z":"3c134ece.bf6fd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"fa285b05.c79c68","type":"json","z":"3c134ece.bf6fd2","name":"","property":"payload","action":"","pretty":false,"x":550,"y":120,"wires":[["d1a02063.37ac2"]]},{"id":"a42b03bc.9b07b","type":"inject","z":"3c134ece.bf6fd2","name":"{\"action\":\"ESPID\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"ESPID\"}","payloadType":"json","x":370,"y":360,"wires":[["b211a62e.1cc2b8"]]},{"id":"fbfd4ab1.7ac268","type":"inject","z":"3c134ece.bf6fd2","name":"{\"action\":\"RESET\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RESET\"}","payloadType":"json","x":370,"y":440,"wires":[["b211a62e.1cc2b8"]]},{"id":"19dc5c8d.277d73","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 1\",\"value\":true,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 1\",\"value\":true,\"by\":\"Node Red\"}","payloadType":"json","x":340,"y":160,"wires":[["f53780d3.0ae4"]]},{"id":"f53780d3.0ae4","type":"mqtt out","z":"856b9fc4.66f0d","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":720,"y":200,"wires":[]},{"id":"ec93c13f.d279b","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 1\",\"value\":false,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 1\",\"value\":false,\"by\":\"Node Red\"}","payloadType":"json","x":330,"y":240,"wires":[["f53780d3.0ae4"]]},{"id":"748eaeed.729c7","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 2\",\"value\":true,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 2\",\"value\":true,\"by\":\"Node Red\"}","payloadType":"json","x":340,"y":320,"wires":[["83a5eec4.eaa49"]]},{"id":"83a5eec4.eaa49","type":"mqtt out","z":"856b9fc4.66f0d","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":720,"y":360,"wires":[]},{"id":"3e551ea.98ef8e2","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 2\",\"value\":false,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 2\",\"value\":false,\"by\":\"Node Red\"}","payloadType":"json","x":330,"y":400,"wires":[["83a5eec4.eaa49"]]},{"id":"7ae664aa.710fcc","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 3\",\"value\":true,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 3\",\"value\":true,\"by\":\"Node Red\"}","payloadType":"json","x":340,"y":460,"wires":[["6ce1ea4.b643614"]]},{"id":"6ce1ea4.b643614","type":"mqtt out","z":"856b9fc4.66f0d","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":720,"y":500,"wires":[]},{"id":"8e2d73e4.7c428","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 3\",\"value\":false,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 3\",\"value\":false,\"by\":\"Node Red\"}","payloadType":"json","x":330,"y":540,"wires":[["6ce1ea4.b643614"]]},{"id":"17607d3f.ef47d3","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 4\",\"value\":true,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 4\",\"value\":true,\"by\":\"Node Red\"}","payloadType":"json","x":340,"y":600,"wires":[["908af013.fed9e"]]},{"id":"908af013.fed9e","type":"mqtt out","z":"856b9fc4.66f0d","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":720,"y":640,"wires":[]},{"id":"611f89ce.896ed8","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 4\",\"value\":false,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 4\",\"value\":false,\"by\":\"Node Red\"}","payloadType":"json","x":330,"y":680,"wires":[["908af013.fed9e"]]},{"id":"d2a50646.8d6988","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 5\",\"value\":true,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 5\",\"value\":true,\"by\":\"Node Red\"}","payloadType":"json","x":1120,"y":140,"wires":[["9294ae42.ca5b9"]]},{"id":"9294ae42.ca5b9","type":"mqtt out","z":"856b9fc4.66f0d","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":1500,"y":180,"wires":[]},{"id":"6e8ec8e.abe0738","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 5\",\"value\":false,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 5\",\"value\":false,\"by\":\"Node Red\"}","payloadType":"json","x":1110,"y":220,"wires":[["9294ae42.ca5b9"]]},{"id":"647df5e0.9f7c2c","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 6\",\"value\":true,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 6\",\"value\":true,\"by\":\"Node Red\"}","payloadType":"json","x":1120,"y":280,"wires":[["361c40a9.dcb4e"]]},{"id":"361c40a9.dcb4e","type":"mqtt out","z":"856b9fc4.66f0d","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":1500,"y":320,"wires":[]},{"id":"2a611cf0.d69fe4","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 6\",\"value\":false,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 6\",\"value\":false,\"by\":\"Node Red\"}","payloadType":"json","x":1110,"y":360,"wires":[["361c40a9.dcb4e"]]},{"id":"4800c2a9.b320bc","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 7\",\"value\":true,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 7\",\"value\":true,\"by\":\"Node Red\"}","payloadType":"json","x":1120,"y":440,"wires":[["949d79ee.648fa8"]]},{"id":"949d79ee.648fa8","type":"mqtt out","z":"856b9fc4.66f0d","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":1500,"y":480,"wires":[]},{"id":"25cbb7f3.86f9f8","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 7\",\"value\":false,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 7\",\"value\":false,\"by\":\"Node Red\"}","payloadType":"json","x":1110,"y":520,"wires":[["949d79ee.648fa8"]]},{"id":"188afb54.a050d5","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 8\",\"value\":true,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 8\",\"value\":true,\"by\":\"Node Red\"}","payloadType":"json","x":1120,"y":580,"wires":[["e11a83b8.d688f"]]},{"id":"e11a83b8.d688f","type":"mqtt out","z":"856b9fc4.66f0d","name":"","topic":"8867049/COMMAND","qos":"2","retain":"true","broker":"d00cf871.49f128","x":1500,"y":620,"wires":[]},{"id":"8e3a6eef.c69b7","type":"inject","z":"856b9fc4.66f0d","name":"{\"action\":\"RELAY\",\"no\":\"Relay 8\",\"value\":false,\"by\":\"Node Red\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"RELAY\",\"no\":\"Relay 8\",\"value\":false,\"by\":\"Node Red\"}","payloadType":"json","x":1110,"y":660,"wires":[["e11a83b8.d688f"]]},{"id":"9f749a93.5c0838","type":"inject","z":"3c134ece.bf6fd2","name":"{\"action\":\"STATUS\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"STATUS\"}","payloadType":"json","x":370,"y":520,"wires":[["b211a62e.1cc2b8"]]},{"id":"b530484.d0749b8","type":"inject","z":"3c134ece.bf6fd2","name":"{\"action\":\"GET_VERSION\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"GET_VERSION\"}","payloadType":"json","x":350,"y":600,"wires":[["b211a62e.1cc2b8"]]},{"id":"32db0c6c.7adfe4","type":"inject","z":"3c134ece.bf6fd2","name":"{\"action\":\"UPDATE\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"UPDATE\",\"url\":\"\"}","payloadType":"json","x":370,"y":680,"wires":[["b211a62e.1cc2b8"]]},{"id":"dc664d9f.ef2c6","type":"mqtt in","z":"24e82206.28248e","d":true,"name":"","topic":"NORTIFICATION","qos":"2","datatype":"auto","broker":"d00cf871.49f128","x":340,"y":240,"wires":[["c7bcc99f.989ba8"]]},{"id":"49a2ddc2.041604","type":"mqtt in","z":"24e82206.28248e","name":"","topic":"ESP_ACTION","qos":"2","datatype":"auto","broker":"d00cf871.49f128","x":350,"y":180,"wires":[["556334b3.23e5fc"]]},{"id":"6ebf9e1.15fa56","type":"debug","z":"24e82206.28248e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":240,"wires":[]},{"id":"c7bcc99f.989ba8","type":"json","z":"24e82206.28248e","name":"","property":"payload","action":"","pretty":false,"x":570,"y":240,"wires":[["6ebf9e1.15fa56"]]},{"id":"f60ca8c.eb7c458","type":"debug","z":"24e82206.28248e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"556334b3.23e5fc","type":"json","z":"24e82206.28248e","name":"","property":"payload","action":"","pretty":false,"x":570,"y":180,"wires":[["f60ca8c.eb7c458"]]},{"id":"a742cc7e.0e932","type":"inject","z":"3c134ece.bf6fd2","name":"{\"action\":\"GET_MQTT_TOPICS\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"GET_MQTT_TOPICS\"}","payloadType":"json","x":330,"y":740,"wires":[["b211a62e.1cc2b8"]]},{"id":"5d2f9e9e.e83be","type":"mqtt in","z":"3c134ece.bf6fd2","name":"","topic":"8867049/ESP_SENSOR","qos":"2","datatype":"auto","broker":"d00cf871.49f128","x":330,"y":60,"wires":[["2b2450d9.bba71"]]},{"id":"1a788859.4cbed8","type":"debug","z":"3c134ece.bf6fd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":786.8958435058594,"y":58.888885498046875,"wires":[]},{"id":"2b2450d9.bba71","type":"json","z":"3c134ece.bf6fd2","name":"","property":"payload","action":"","pretty":false,"x":566.8958435058594,"y":58.888885498046875,"wires":[["1a788859.4cbed8"]]}]